@{
    ViewBag.Title = "How We Started";
    Layout = "~/Views/Shared/_LayoutTemp.cshtml";
}
<!-- About -->
<div class="stats" id="about">
    <div class="container">
        <h3 class="w3l-title"><span>A</span>bout <span>U</span>s</h3>
        <p>PROSAMI is an acronym derived from the French PROmotion de la Sante Maternelle et Infantile, which stands for Promotion of Maternal and Infant Health. It is an initiative that started in order to reduce maternal and infant mortality in the Democratic Republic of Congo. The idea was inspired by a tragic life-changing event in the life of PROSAMI founder, Agnes Kanyanya. Her mother died at the age of 44 while giving birth to her baby sister, who spent her first few years in an orphanage together with several other babies who shared the same plight, having also lost their mothers to childbirth complications. Ms. Agnes later removed her little sister from the orphanage and raised her as her own child. Profoundly affected by that event and realizing the extent of the issue, she was determined to find a solution to reduce the alarmingly high rates of maternal and infant mortality in the DR Congo in order to spare other families from such devastating event. Later on, others joined PROSAMI's cause as the video below will further explain.</p>
        <div class="stats-info">
            <div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
                <i class="fa fa-facebook" aria-hidden="true"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
                <h4 class="stats-info">Likes</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
                <i class="fa fa-twitter" aria-hidden="true"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='8000' data-delay='.5' data-increment="1">8000</div>
                <h4 class="stats-info">Followers</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
                <i class="fa fa-linkedin"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9060' data-delay='.5' data-increment="10">9060</div>
                <h4 class="stats-info">Donations</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 stats-grid slideanim">
                <i class="fa fa-google-plus" aria-hidden="true"></i><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='6700' data-delay='.5' data-increment="1">6700</div>
                <h4 class="stats-info">Donors</h4>
            </div>

            <h3 class="w3l-title"><span>N</span>ews and <span>O</span>ther <span>I</span>nfo</h3>
            <p><b>PROSAMI turns 10 (May 2009 - May 2019)</b></p>
            <p>
                On May 7th, 2019 PROSAMI celebrated its 10-year anniversary. In fact, its was 10 years ago, in May of 2009 that PROSAMI was officially registered as a 501(c)3 nonprofit organization. Since then the organization began to work toward ensuring that mothers and babies in the Democratic Republic of Congo no longer die from complications related to pregnancy or childbirth. On its journey during the past 10 years, PROSAMI faced many challenges that threatened the survival of the organization. However, thanks to the commitment of its members and the support of its small group of supporters, PROSAMI was able to overcome most of those challenges and achieve a lot with the little means it had. Among the organization’s greatest achievements are:
                - Successful training of 18 Congolese nurses to the international standard of Advanced Midwives as established by the ICM (International Conference of Midwives)
                - Opening of a Pilot Center in a rural community in Mbyji Mayi, DRC, where PROSAMI nurse-midwives deliver quality care to mothers and babies.
                - Successful delivery of close to 100 healthy babies between September 2018 and May 2019.
                The celebration on May 7th, 2019 was a gala which took place in Charlottesville, VA. The event was an opportunity for the organization to recognize and thank its faithful supporters, to expose its accomplishments over the last 10 years, and to share the organization’s objectives for the next few years.
            </p>
            <div></div>
            <h4>Training and Other Certifications</h4>
            <p><b>Clinical Training - 2018</b></p>
            <p>
                We are in the final 360 hours of clinical training for advanced nurse midwifery certificate, over 3 months, March 1 – May 31st, with 19 nurse midwife students training in 4 different hospitals (Bonzola Hospital, Chirsi Roi Hospital, Kansele Hospital, Muene Ditu Hospital: Notre Dame de Grace - Musaula Hospital). The 19 students are overseen by five additional Trainers: who are Mrs. H. Misenga, Mrs. A. Bakamamba, Mrs. A. Nsumpi, Mrs. L. Muanza, and Mrs. V. Nzebra. The overall program clinical leadership is being guided by Agnes Kanyanya (Prosami Founder), Elizabeth and Juliet l(Zimbabwe professors), and Joyce Zwane (S. Africa). Each of the students has their own obstetrical kit which they will bring with them, to include adult stethoscope, Adult BP cuff, fetoscope, several pairs scissors, Several pairs hemostats, sterile gloves, non –sterile gloves, umbilical clamps, gauze.The building has 31 bathrooms, to include showers, its own water tank supply, electricity with access for 3 sourced electricity (MIBA, Mbuji Mayi and diesel generator).
                <div></div>
                <h4>The following are websites which provide information on nursing and training regarding infant mortality rates:</h4>
                <div></div>
            <p>- Click <a href="https://www.nichd.nih.gov/health/topics/infant-mortality/topicinfo/reduce-risk"> Here</a> to view the ways to reduce the risk of infant mortality.</p>
                <div></div>
           <p> - Click <a href="https://www.advisory.com/research/care-transformation-center/care-transformation-center-blog/2019/02/infant-mortality"> Here</a> to find out strategies that reduce infant mortality rates.</p>
            <div></div>
            <h4>Candidates receiving training material - 2011</h4>
            <div></div>
            <p>PROSAMI candidates receiving training material</p>
            <img src="~/Content/testimonies/story1.png" class="img img-rounded" style="width:100%" alt="Image">


            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //About -->