
@{
    ViewBag.Title = "DevTeam";
    Layout = "~/Views/Shared/_LayoutTemp.cshtml";
}

<div class="stats" id="about">
    <div class="container">
        <h3 class="w3l-title"><span>M</span>eet <span>T</span>he <span>D</span>evelopers</h3>
        <p>We are a young and vibrant team of developers who pride ourselves in delivering quality products. We are cohesive and work as a team.</p>

    </div>
</div>

<div class="team-w3l" id="team">
    <div class="container">
        <h3 class="w3l-title"><span>O</span>ur <span>T</span>eam</h3>
        <div class="w3ls_news_grids w3_agileits_team_grids">

            <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="~/Content/devteam/Prince.jpg" alt=" " class="img-responsive" />
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Prince Wa Ntunka</h4>
                <p>Team Leader and Android Backend Developer</p>
            </div>
            <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="~/Content/devteam/Marc.jpg" alt=" " class="img-responsive" />
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Marc Steiger</h4>
                <p>Secretary</p>
            </div>
            <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="~/Content/devteam/Byron.jpg" alt=" " class="img-responsive" />
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Byron Wood</h4>
                <p>Front End Developer and Website Backend Developer</p>
            </div>
            <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="~/Content/devteam/Steven.jpg" alt=" " class="img-responsive" />
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Steven Wenke</h4>
                <p>Database Administrator</p>
            </div>
            <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="~/Content/devteam/Preshen.jpg" alt=" " class="img-responsive" />
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Preshen Vurthan</h4>
                <p>Website and Android Backend Developer</p>
            </div>                            
        </div>
    </div>
</div>

