
@{
    ViewBag.Title = "Funding";
    Layout = "~/Views/Shared/_LayoutTemp.cshtml";
}

<!-- What We  Do -->
<div class="stats" id="about">
    <div class="container">
        <h3 class="w3l-title"><span>H</span>ow <span>D</span>o <span>W</span>e <span>O</span>btain <span>O</span>ur <span>F</span>unds </h3>
        <h3 class="w3l-title">With the help of sponsors and donations</h3>
        <div>

        </div>

        <div class="row">
            <div class="col-sm-3">
                <h4>Please Help Us Raise Funds</h4>
                <p>
                    <div></div>
                <p>- Click <a href="http://www.prosami.ngo/donate.php"> Here</a></p>
                </p>
                <img src="~/Content/funding/donationlogo.png" class="img img-rounded" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <h4>Parternship with University Of Virginia</h4>
                <p>
                    <div></div>
                    University Of Virginia support PROSAMI with Telemedecine Technology for midwives long distant training
                    uvahealth.com
                </p>
                <img src="~/Content/funding/uovlogo.png" class="img img-rounded" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <h4>Missionary Sisters Of Our Lady Africa (MSOLA)</h4>
                <p>
                    <div></div>
                    Missionary Sisters Of Our Lady Africa provide financial support to PROSAMI. www.msolafrica.org
                </p>
                <img src="~/Content/funding/msolalogo.png" class="img img-rounded" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <h4>Westminster Presbyterian Church - Charlottesville, Virginia</h4>
                <p>
                    <div></div>
                    Westminster Presbyterian Church provide financial support to PROSAMI. www.westminsterva.org
                </p>
                <img src="~/Content/funding/churchlogo.png" class="img img-rounded" style="width:100%" alt="Image">
            </div>
        </div>
        <br>

    </div>
</div>

<footer class="container-fluid text-center">
</footer>
