
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutTemp.cshtml";
}
<!-- gallery -->
<div class="gallery" id="gallery">
    <div class="container">
        <h3 class="w3l-title"><span>O</span>ur <span>G</span>allery</h3>
        <div class="w3layouts_gallery_grids">
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/2.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/picone.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/3.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/pictwo.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/5.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/picthree.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/6.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/picfour.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/4.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/picfive.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/7.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/picsix.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/8.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/picseven.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/9.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/piceight.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3layouts_gallery_grid">
                <a href="images/10.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/gallery/picnine.jpg" alt=" " class="img-responsive">
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text"><h3>Handout</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //gallery -->


<footer class="container-fluid text-center">
</footer>

