@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutTemp.cshtml";

}
<h2>Home</h2>

<html>
<body>

    <div class="container text-center">
        @*<h1>Prosami</h1>
        <body>
            <head>
                <style>
                    body {
                        text-align: center;
                    }

                    img {
                        width: 250px;
                        height: 350px;
                    }
                </style>
            </head>

        </body>
        <img src="~/Content/logo/1.png" />""*@
        <!-- What We  Do -->
        <div class="stats" id="about">
            <div class="container">
                <h3 class="w3l-title"><span>W</span>hat <span>W</span>e <span>D</span>o</h3>
                <p>Provide the Congolese communities with affordable quality health care , in order to allow the infant a good start in life, and the mother a healthy reproductive life that would benefit the entire population. We aim to contribute to the decrease of maternal and infant mortality in the Democratic Republic Of Congo (DRC) with special focus on midwifery training, infrastructure and equipment</p>

            </div>
        </div>
    </div>

    <!-- //What We  Do -->

    <!-- team -->
    <div class="team-w3l" id="team">
        <div class="container">
            <h3 class="w3l-title"><span>O</span>ur <span>T</span>eam</h3>
            <div class="w3ls_news_grids w3_agileits_team_grids">

                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/one.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Agnes Kanyanya</h4>
                    <p>Founder/Training Coordinator</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/two.png" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Charles Lewis</h4>
                    <p>Board Member/Fundraiser</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/three.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Sally Williamson</h4>
                    <p>Treasurer/Fundraiser</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/four.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Jennifer Mentore</h4>
                    <p>Board Member/Strategist/Fundraiser</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/five.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Kim Briehl</h4>
                    <p>Telemedicine Expert</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/six.png" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>David Basemen</h4>
                    <p>Marketing Officer</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/seven.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Doctor Jean Mukendi</h4>
                    <p>Project Director</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/eight.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Pastor Leon Munyinga</h4>
                    <p>Assistant Project Director</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/nine.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Pastor Sylvain Mbiye Kalombo</h4>
                    <p>Counselor Ex-Officio</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/ten.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Mike Mbala</h4>
                    <p>Administrative Service Manager</p>
                </div>
                <div class="col-md-3 col-sm-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Content/team/eleven.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>David Baseme</h4>
                    <p>Marketing Officer</p>
                 </div>
                </div>
            </div>
        </div>
    
    <!-- //team -->


</body>
</html>


